<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="card shadow-lg p-4">
                <h4 class="mb-3">Add Book</h4>

                <form>
                    <div class="form-group row mb-4 mt-3">
                        <label for="title" class="col-sm-3 col-form-label">Title : </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="title" placeholder="Enter Book Title">
                        </div>
                    </div>

                    <div class="form-group row mb-4 mt-3">
                        <label for="author" class="col-sm-3 col-form-label">Author : </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="author" placeholder="Enter Author Name">
                        </div>
                    </div>

                    <div class="form-group row mb-4 mt-3">
                        <label for="description" class="col-sm-3 col-form-label">Description : </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="description" rows="3"
                                placeholder="Enter Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label class="col-sm-3 col-form-label">Book completed :</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            <input type="checkbox" class="form-check-input" id="completed">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label class="col-sm-3 col-form-label">Already Read :</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            <input type="checkbox" class="form-check-input" id="alreadyRead">
                        </div>
                    </div>

                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-light me-2" (click)="backToList()">
                            Cancel
                        </button>
                        <button type="cancel" class="btn btn-custom">
                            Add
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>